* {
  box-sizing: border-box;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  color: #fff;
  background: #1eb7ee;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  &__logo {
    margin: 0.5% 40% 0.5% 5%;
    img {
      height: 60px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    list-style: none;

    &-item {
      display: flex;
      flex-direction: row;
      margin-left: 10%;
      cursor: pointer;
      font-size: 20px;
      line-height: 400%;
      font-weight: 600;
    }
  }
}
.flight {
  display: flex;
  margin-top: 5%;
  &__find {
    width: 60%;
    margin: auto;
    &-title {
      margin-bottom: 2%;
      font-size: 60px;
      font-weight: 100;
    }
    &-form {
      color: grey;
    }
  }
}
.form {
  display: flex;
  flex-direction: row;
  height: 50px;
  font-size: 30px;
  &-input {
    margin-left: 3%;
    border: none;
    font-size: 30px;
    line-height: 40px;
    width: 80%;
  }
  &-btn {
    border: none;
    height: 100%;
    width: 200px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    background: #1eb7ee;
    color: #fff;
    border-radius: 0 100px 0 0;
  }
}
.form-btn:hover {
  border-radius: 0 40px 0 0;
}
.switchFlights {
  width: 68%;
  display: flex;
  margin: auto;
  margin-top: 5%;

  &__item {
    width: 50%;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    background-color: #1eb7ee;
    text-decoration: none;
    &-departure {
      padding-right: 100px;
      margin-right: -60px;
      border-radius: 60px 60px 0 0;
      text-align: right;
    }
    &-arrival {
      padding-left: 100px;
      border-radius: 60px 60px 0 0;
    }
  }
  :hover {
    background-color: #007bff;
  }
}
.active {
  background: #fff;
  color: #1eb7ee;
  z-index: 1;
}
.active:hover {
  background-color: white;
}
svg[data-icon="search"] {
  display: block;
  margin-top: 1%;
}
svg[data-prefix="fas"]:hover {
  background-color: transparent;
}
.planes {
  width: 1000px;
  margin: auto;
  margin-top: 2%;
}
.flights__table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    height: 40px;
    margin-bottom: 3%;

    &__item {
      display: block;
      width: 100px;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    height: 40px;
    margin-bottom: 3%;

    &-item {
      display: block;
      align-items: center;
      text-align: center;
      margin-right: -13%;
      width: 300px;
    }
  }
}
.terminal {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 0;
}
.table__row:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.aviacompany {
  display: flex;
  padding-left: 10%;

  &__logo {
    height: 40px;
    width: 64px;
  }
  &__name {
    display: block;
    line-height: 40px;
  }
}
